
server:
  port: 8081

#database connection
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/auth_app
    username: root
    password: 12345

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
