server:
  port: 8081

#database connection
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/auth_app
    username: root
    password: 12345

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

logging:
  level:
    org.springframework.security: DEBUG

security:
  jwt:
    secret: ${JWT_SECRET:J4t9@Kp#W8mZx2FQeR1!L0Yv$A7D5N@HsgegedhbegqeAEDCDSVCERTFHBETBHBEDSWEEFEQWscsdafcwerageraghqea}
    issuer: ${JWT_ISSUER:api.vijay.com}
    access-ttl-seconds: ${JWT_ACCESS_TTL_SECONDS:3600}
    refresh-ttl-seconds: ${JWT_REFRESH_TTL_SECONDS:86400}
    refresh-token-cookie-name: ${JWT_REFRESH_COOKIE_NAME:refreshToken}
    cookie-secure: ${JWT_COOKIE_SECURE:true}
    cookie-http-only: ${JWT_COOKIE_HTTP_ONLY:true}
    cookie-same-site: ${JWT_COOKIE_SAME_SITE:lax}
    cookie-domain: ${JWT_COOKIE_DOMAIN:localhost}